660710734 มีนลดา แก้วพินิจ

In [ ]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

อ่านไฟล์ student.csv แล้วเก็บข้อมูลไว้ในตัวแปร df

In [4]:
df = pd.read_csv("student.csv")
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
2,64003,NaN,NaN,Male,Science,3.67,175.0,NaN,25.0,2024-01-13
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,NaN,NaN,NaN,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,NaN,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,NaN,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06

ตรวจสอบจำนวนแถวก่อนจะลบข้อมูลที่มีค่า missing

In [8]:
print("จำนวนแถวก่อนลบข้อมูลที่ขาดหาย:", len(df))
df_clean = df.dropna() #ลบแถวที่มีช่องว่างหรือข้อมูลหาย

จำนวนแถวก่อนลบข้อมูลที่ขาดหาย: 20

In [10]:
print("จำนวนแถวหลังลบข้อมูลที่ขาดหาย:", len(df_clean))
df_clean

จำนวนแถวหลังลบข้อมูลที่ขาดหาย: 14

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24

คำนวณค่าเฉลี่ยของคอลัมน์อายุเพื่อใช้แทนข้อมูลที่หายไป

In [11]:
average_age = df['อายุ'].mean()
print(f"ค่าเฉลี่ยอายุของนักศึกษา = {average_age:.6f}")

ค่าเฉลี่ยอายุของนักศึกษา = 28.470588

เติมค่าที่ขาดในคอลัมน์อายุด้วยค่าเฉลี่ยอายุ

In [13]:
df['อายุ'].fillna(average_age, inplace=True)
df['อายุ']

0      20.000000
1      21.000000
2      28.470588
3      22.000000
4      19.000000
5     150.000000
6      21.000000
7      20.000000
8      23.000000
9      21.000000
10     28.470588
11     22.000000
12     20.000000
13     21.000000
14     22.000000
15     19.000000
16     20.000000
17     21.000000
18     28.470588
19     22.000000
Name: อายุ, dtype: float64

หาคณะที่มีนักศึกษามากที่สุด

In [14]:
most_common_faculty = df['คณะ'].mode()[0]
print(f"คณะที่ได้รับความนิยมสูงสุด: {most_common_faculty}")

คณะที่ได้รับความนิยมสูงสุด: Science

แทนค่าที่หายไปในคอลัมน์คณะด้วยค่ายอดนิยม

In [16]:
df['คณะ'].fillna(most_common_faculty, inplace=True)
df['คณะ']

0        วิทยาศาสตร์
1              วิทย์
2            Science
3     คณะวิทยาศาสตร์
4              วิศวะ
5        Engineering
6           วิศวกรรม
7         ศิลปศาสตร์
8               Arts
9              ศิลป์
10           Science
11             วิทย์
12             วิศวฯ
13      Liberal Arts
14               Sci
15       วิทยาศาสตร์
16    วิศวกรรมศาสตร์
17           Science
18        ศิลปศาสตร์
19           Science
Name: คณะ, dtype: object

แปลงชื่อคณะที่สะกดไม่เหมือนกันให้เป็นชื่อเดียวกัน

In [18]:
def unify_faculty_name(name):
    if name in ['วิทยาศาสตร์', 'วิทย์', 'Science', 'คณะวิทยาศาสตร์', 'Sci']:
        return 'วิทยาศาสตร์'
    elif name in ['ศิลปศาสตร์', 'ศิลป์', 'Arts', 'Liberal Arts']:
        return 'ศิลปศาสตร์'
    elif name in ['วิศวกรรม', 'วิศวกรรมศาสตร์', 'วิศวฯ', 'Engineering', 'วิศวะ']:
        return 'วิศวกรรมศาสตร์'
    else:
        return name
df['คณะ_มาตรฐาน'] = df['คณะ'].apply(unify_faculty_name)
df['คณะ_มาตรฐาน']

0        วิทยาศาสตร์
1        วิทยาศาสตร์
2        วิทยาศาสตร์
3        วิทยาศาสตร์
4     วิศวกรรมศาสตร์
5     วิศวกรรมศาสตร์
6     วิศวกรรมศาสตร์
7         ศิลปศาสตร์
8         ศิลปศาสตร์
9         ศิลปศาสตร์
10       วิทยาศาสตร์
11       วิทยาศาสตร์
12    วิศวกรรมศาสตร์
13        ศิลปศาสตร์
14       วิทยาศาสตร์
15       วิทยาศาสตร์
16    วิศวกรรมศาสตร์
17       วิทยาศาสตร์
18        ศิลปศาสตร์
19       วิทยาศาสตร์
Name: คณะ_มาตรฐาน, dtype: object

แปลงข้อมูลคณะ_มาตรฐานเป็นรูปแบบ One-Hot Encoding

In [21]:
df_onehot = pd.get_dummies(df, columns=['คณะ_มาตรฐาน'])
df_onehot

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน,คณะ_มาตรฐาน_วิทยาศาสตร์,คณะ_มาตรฐาน_วิศวกรรมศาสตร์,คณะ_มาตรฐาน_ศิลปศาสตร์
0,64001,สมชาย,20.000000,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23,True,False,False
1,64002,สมหญิง,21.000000,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05,True,False,False
2,64003,NaN,28.470588,Male,Science,3.67,175.0,NaN,25.0,2024-01-13,True,False,False
3,64004,สมศักดิ์,22.000000,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30,True,False,False
4,64005,สมใจ,19.000000,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27,False,True,False
5,64006,กานต์,150.000000,ชาย,Engineering,3.12,172.0,75.0,12.0,2023-12-23,False,True,False
6,64007,กิตติ,21.000000,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05,False,True,False
7,64008,จิรา,20.000000,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23,False,False,True
8,64009,ชนาธิป,23.000000,M,Arts,3.34,163.0,55.0,22.0,2024-02-11,False,False,True
9,64010,ดารา,21.000000,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03,False,False,True
10,64011,ธีระ,28.470588,NaN,Science,3.78,NaN,68.0,NaN,2024-01-07,True,False,False
11,64012,นภา,22.000000,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26,True,False,False
12,64013,บุญมี,20.000000,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26,False,True,False
13,64014,ปรีชา,21.000000,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08,False,False,True
14,64015,พิมพ์,22.000000,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06,True,False,False
15,64016,ภูมิ,19.000000,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20,True,False,False
16,64017,มานี,20.000000,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24,False,True,False
17,64018,ยุพา,21.000000,หญิง,Science,3.23,161.0,50.0,27.0,2024-01-08,True,False,False
18,64019,รัตนา,28.470588,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18,False,False,True
19,64020,ลัดดา,22.000000,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06,True,False,False

กำหนดค่าขอบเขตสำหรับอายุเพื่อคัดกรองข้อมูลที่เป็นไปได้ตามสถิติ (ไม่เอาค่าผิดปกติ)

In [34]:
Q1 = df['อายุ'].quantile(0.25)
Q3 = df['อายุ'].quantile(0.75)
IQR = Q3 - Q1

lower_limit = Q1 - 1.5 * IQR
upper_limit = Q3 + 1.5 * IQR
df_filtered = df[(df['อายุ'] >= lower_limit) & (df['อายุ'] <= upper_limit)] #เลือกแถวที่ค่าของอายุอยู่ในช่วงขอบเขตปกติ
df_filtered

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน,คณะ_มาตรฐาน,BMI,สุขภาพ,ชั่วโมง,ช่วงเวลา,ช่วงวันที่,วันในสัปดาห์
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23,วิทยาศาสตร์,22.491349,ปกติ,0,NaN,ปลายเดือน,Tuesday
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05,วิทยาศาสตร์,21.303949,ปกติ,0,NaN,ต้นเดือน,Monday
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30,วิทยาศาสตร์,24.801587,ปกติ,0,NaN,ปลายเดือน,Saturday
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27,วิศวกรรมศาสตร์,20.312500,ปกติ,0,NaN,ปลายเดือน,Saturday
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05,วิศวกรรมศาสตร์,19.227688,ปกติ,0,NaN,ต้นเดือน,Friday
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23,ศิลปศาสตร์,25.308642,อ้วน,0,NaN,ปลายเดือน,Tuesday
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-11,ศิลปศาสตร์,20.700817,ปกติ,0,NaN,กลางเดือน,Sunday
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03,ศิลปศาสตร์,21.513859,ปกติ,0,NaN,ต้นเดือน,Wednesday
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26,วิทยาศาสตร์,NaN,NaN,0,NaN,ปลายเดือน,Tuesday
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26,วิศวกรรมศาสตร์,25.209201,อ้วน,0,NaN,ปลายเดือน,Tuesday
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08,ศิลปศาสตร์,20.077335,ปกติ,0,NaN,ต้นเดือน,Monday
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06,วิทยาศาสตร์,21.338211,ปกติ,0,NaN,ต้นเดือน,Tuesday
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20,วิทยาศาสตร์,26.061679,อ้วน,0,NaN,กลางเดือน,Saturday
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24,วิศวกรรมศาสตร์,22.499637,ปกติ,0,NaN,ปลายเดือน,Wednesday
17,64018,ยุพา,21.0,หญิง,Science,3.23,161.0,50.0,27.0,2024-01-08,วิทยาศาสตร์,19.289379,ปกติ,0,NaN,ต้นเดือน,Monday
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06,วิทยาศาสตร์,22.675737,ปกติ,0,NaN,ต้นเดือน,Saturday

แปลงคอลัมน์วันที่ลงทะเบียนให้เป็น datetime

In [30]:
df['วันที่ลงทะเบียน'] = pd.to_datetime(df['วันที่ลงทะเบียน'])

In [33]:
df['วันในสัปดาห์'] = df['วันที่ลงทะเบียน'].dt.day_name()
df[['วันที่ลงทะเบียน', 'วันในสัปดาห์']]

   วันที่ลงทะเบียน วันในสัปดาห์
0       2024-01-23      Tuesday
1       2024-02-05       Monday
2       2024-01-13     Saturday
3       2023-12-30     Saturday
4       2024-01-27     Saturday
5       2023-12-23     Saturday
6       2024-01-05       Friday
7       2024-01-23      Tuesday
8       2024-02-11       Sunday
9       2024-01-03    Wednesday
10      2024-01-07       Sunday
11      2023-12-26      Tuesday
12      2023-12-26      Tuesday
13      2024-01-08       Monday
14      2024-02-06      Tuesday
15      2024-01-20     Saturday
16      2024-01-24    Wednesday
17      2024-01-08       Monday
18      2023-12-18       Monday
19      2024-01-06     Saturday

คำนวณค่า BMI จากน้ำหนักและส่วนสูง และจัดกลุ่มสุขภาพตามเกณฑ์ BMI

In [26]:
df['BMI'] = df['น้ำหนัก_kg'] / ((df['ส่วนสูง_cm'] / 100) ** 2)
df['สุขภาพ'] = pd.cut(df['BMI'],
                      bins=[0, 18.5, 25, 30, 100],
                      labels=['ผอม', 'ปกติ', 'อ้วน', 'อ้วนมาก'])

df[['ชื่อ', 'BMI', 'สุขภาพ']]

        ชื่อ        BMI สุขภาพ
0      สมชาย  22.491349   ปกติ
1     สมหญิง  21.303949   ปกติ
2        NaN        NaN    NaN
3   สมศักดิ์  24.801587   ปกติ
4       สมใจ  20.312500   ปกติ
5      กานต์  25.351541   อ้วน
6      กิตติ  19.227688   ปกติ
7       จิรา  25.308642   อ้วน
8     ชนาธิป  20.700817   ปกติ
9       ดารา  21.513859   ปกติ
10      ธีระ        NaN    NaN
11       นภา        NaN    NaN
12     บุญมี  25.209201   อ้วน
13     ปรีชา  20.077335   ปกติ
14     พิมพ์  21.338211   ปกติ
15      ภูมิ  26.061679   อ้วน
16      มานี  22.499637   ปกติ
17      ยุพา  19.289379   ปกติ
18     รัตนา  25.102391   อ้วน
19     ลัดดา  22.675737   ปกติ